<ion-content>
  <div class="idioma_section">
    <h3>Selecione um Idioma</h3>
    <div class="image_container">
      <div class="idioma_item">
        <img src="/assets/icon_portugues.png" alt="Icone Português" class="idioma_image" />
        <p>Português</p>
      </div>
      <div class="idioma_item">
        <img src="/assets/icon_ingles.png" alt="Icone Inglês" class="idioma_image" />
        <p>Inglês</p>
      </div>
      <div class="idioma_item">
        <img src="/assets/icon_espanhol.png" alt="Icone Espanhol" class="idioma_image" />
        <p>Espanhol</p>
      </div>
    </div>
    <div class="confirme-button">
      <ion-button shape="round"color="primary"> 
        Confirme
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
      </ion-button>
    </div>
    
  </div>
</ion-content>
