<ion-content>
  <!-- Campo do Título da página -->
  <div class="header-container">
    <h2>Pontos Turísticos</h2>
  </div>

  <!-- Barra de pesquisa -->
  <div class="search-container">
    <ion-searchbar placeholder="Descubra Pontos Turísticos"></ion-searchbar>
  </div>

  <!-- Seção principal onde ficam os cards -->
  <div class="tourist-section">
    <ion-card button="">
      <img src="assets/cristo_rendentor.webp" alt="Cristo Redentor" />
      <ion-card-header>
        <ion-card-title>Cristo Redentor, Corcovado</ion-card-title>
        <ion-card-subtitle>Rio de Janeiro, RJ</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card button="">
      <img src="assets/pao_de_açucar.jpg" alt="Pão de Açúcar" />
      <ion-card-header>
        <ion-card-title>Pão de Açúcar</ion-card-title>
        <ion-card-subtitle>Rio de Janeiro, RJ</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card button="">
      <img src="assets/pelourinho.jpg" alt="Pelourinho" />
      <ion-card-header>
        <ion-card-title>Pelourinho</ion-card-title>
        <ion-card-subtitle>Bahia, BA</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card button="">
      <img src="assets/cataratas_do_iguacu.jpg" alt="Cataratas do Iguaçu" />
      <ion-card-header>
        <ion-card-title>Cataratas do Iguaçu</ion-card-title>
        <ion-card-subtitle>Paraná, PR</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card button="">
      <img src="assets/gruta_azul.jpg" alt="Gruta do Lago Azul" />
      <ion-card-header>
        <ion-card-title>Gruta do Lago Azul</ion-card-title>
        <ion-card-subtitle>Mato Grosso do Sul, MS</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card button="">
      <img src="assets/jardim_botanico.webp" alt="Jardim Botânico" />
      <ion-card-header>
        <ion-card-title>Jardim Botânico</ion-card-title>
        <ion-card-subtitle>Curitiba, PR</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
