<ion-header>
  <ion-toolbar>
    <ion-title>Desenvolvedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <img src="assets/Foto_Igor.png" alt="Igor" class="foto-igor" />
        <h1>Igor Oliveira Soares</h1>
        <p>Matrícula: 23202199</p>
        <p>Turno: Manhã</p>
        <p>Unidade: Bonsucesso</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    expand="block"
    shape="round"
    color="Tertiary"
    fill="outline"
    class="botao-voltar"
    routerLink="/home"
  >
    Voltar para Home
  </ion-button>
</ion-content>
