<ion-content>
  <div class="header-container">
    <h2>Olá,Usuário</h2>
    <p>Explore o Brasil</p>
  </div>

  <div class="search-container">
    <ion-searchbar placeholder="Pesquise seu Destino"></ion-searchbar>
  </div>

  <div class="button-container">
    <ion-button (click)="goToPraias()" class="choose-button" fill="outline" shape="round">
      <img class="icon-button" src="assets/icon_beach.png" alt="Ícone Praia">
      Praias
    </ion-button>
  
    <ion-button (click)="goToPontosTuristicos()" class="choose-button" fill="outline" shape="round">
      <img class="icon-button" src="assets/icon_turism.png" alt="Ícone Turismo">
      P. Turísticos
    </ion-button>
  
    <ion-button (click)="goToCachoeiras()" class="choose-button" fill="outline" shape="round">
      <img class="icon-button" src="assets/icon_waterfall.png" alt="Ícone Cachoeiras">
      Cachoeiras
    </ion-button>
  
    <ion-button (click)="goToTrilhas()" class="choose-button" fill="outline" shape="round">
      <img class="icon-button" src="assets/icon_trail.png" alt="Ícone Trilhas">
      Trilhas
    </ion-button>
  </div>
  
  
  <div class="popular-section">
    <h3>Mais populares</h3>
    <div class="card-container">
      <ion-card button="">
        <img src="assets/cristo_rendentor.webp" alt="Cristo Redentor" />
        <ion-card-header>
          <ion-card-title>Cristo Redentor, Corcovado</ion-card-title>
          <ion-card-subtitle>Rio de Janeiro, RJ</ion-card-subtitle>
          <ion-button (click)="updateMapLocation(  -22.9519,-43.2105 )">Mapa</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card button="">
        <img src="assets/praia_copacabana.webp" alt="Praia de Copacabana" />
        <ion-card-header>
          <ion-card-title>Praia de Copacabana</ion-card-title>
          <ion-card-subtitle>Rio de Janeiro, RJ</ion-card-subtitle>
          <ion-button (click)="updateMapLocation(  -22.9711,-43.1822 )">Mapa</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card button="">
        <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
        <ion-card-header>
          <ion-card-title>Ouro Preto</ion-card-title>
          <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
          <ion-button (click)="updateMapLocation(  -20.3852,-43.5037 )">Mapa</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card button="">
        <img src="assets/pao_de_açucar.jpg" alt="Pão de Açúcar" />
        <ion-card-header>
          <ion-card-title>Pão de Açúcar</ion-card-title>
          <ion-card-subtitle>Rio de Janeiro, RJ</ion-card-subtitle>
          <ion-button (click)="updateMapLocation(  -22.9486,-43.1565 )">Mapa</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card button="">
        <img src="assets/pelourinho.jpg" alt="Pelourinho" />
        <ion-card-header>
          <ion-card-title>Pelourinho</ion-card-title>
          <ion-card-subtitle>Bahia, BA</ion-card-subtitle>
          <ion-button (click)="updateMapLocation(  -12.9714,-38.5079 )">Mapa</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card button="">
        <img src="assets/cataratas_do_iguacu.jpg" alt="Cataratas do Iguaçu" />
        <ion-card-header>
          <ion-card-title>Cataratas do Iguaçu</ion-card-title>
          <ion-card-subtitle>Paraná, PR</ion-card-subtitle>
          <ion-button (click)="updateMapLocation( -25.6953, -54.4367
)">Mapa</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card button="">
        <img src="assets/gruta_azul.jpg" alt="Gruta do Lago Azul" />
        <ion-card-header>
          <ion-card-title>Gruta do Lago Azul</ion-card-title>
          <ion-card-subtitle>Mato Grosso do Sul, MS</ion-card-subtitle>
          <ion-button (click)="updateMapLocation( -14.7173,-56.3953 )">Mapa</ion-button>
        </ion-card-header>
      </ion-card>

      <ion-card button="">
        <img src="assets/jardim_botanico.webp" alt="Jardim Botânico" />
        <ion-card-header>
          <ion-card-title>Jardim Botânico</ion-card-title>
          <ion-card-subtitle>Curitiba, PR</ion-card-subtitle>
          <ion-button (click)="updateMapLocation( -25.4411, -49.2396)">Mapa</ion-button>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>