<ion-content>
  <!--Campo do Título da página-->
  <div class="header-container">
    <h2>Cachoeiras</h2>
  </div>
  <!--Barra de pequisa-->
  <div class="search-container">
    <ion-searchbar placeholder="Descubra Cachoeiras"></ion-searchbar>
  </div>
  
  <div class="waterfall-section">
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/ouro_preto.jpeg" alt="Ouro Preto" />
      <ion-card-header>
        <ion-card-title>Ouro Preto</ion-card-title>
        <ion-card-subtitle>Minas Gerais, MG</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </div>

</ion-content>
