<ion-content>
  <!--Campo do Título da página-->
  <div class="header-container">
    <h2>Praias</h2>
  </div>
  <!--Barra de pequisa-->
  <div class="search-container">
    <ion-searchbar placeholder="Descubra Praias"></ion-searchbar>
  </div>
  
  <div class="beach-section">
    <ion-card button="">
      <img src="assets/baia_dos_sanchos.webp" alt="Baía dos Sanchos" />
      <ion-card-header>
        <ion-card-title>Praia da Baía dos Sanchos</ion-card-title>
          <ion-card-subtitle>Fernando de Noronha, PE</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/praia_de_garapua.jpg" alt="Praia de Garapuá" />
      <ion-card-header>
        <ion-card-title>Praia de Garapuá</ion-card-title>
        <ion-card-subtitle> Cairu, BA</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/lencois_maranhenses.webp" alt="Praias dos Lençóis Maranhenses" />
      <ion-card-header>
        <ion-card-title>Praias dos Lençóis Maranhenses</ion-card-title>
        <ion-card-subtitle>Barreirinhas, MA</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/praia_farol.jpg" alt="Praia do Farol" />
      <ion-card-header>
        <ion-card-title>Praia do Farol</ion-card-title>
        <ion-card-subtitle>Arraial do Cabo, RJ</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/praia_pipa.jpg" alt="Praia da Baía dos Golfinhos" />
      <ion-card-header>
        <ion-card-title>Praia da Baía dos Golfinhos</ion-card-title>
        <ion-card-subtitle>Pipa, RN</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/baia_dos_porcos.jpg" alt="Praia da Baía dos Porcos" />
      <ion-card-header>
        <ion-card-title>Praia da Baía dos Porcos</ion-card-title>
        <ion-card-subtitle>Fernando de Noronha, PE</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/jericoacara.webp" alt="Praia da Lagoa do Paraíso" />
      <ion-card-header>
        <ion-card-title>Praia da Lagoa do Paraíso</ion-card-title>
        <ion-card-subtitle>Jericoacoara , CE</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/praia_copacabana.webp" alt="Praia de Copacabana" />
      <ion-card-header>
        <ion-card-title>Praia de Copacabana</ion-card-title>
        <ion-card-subtitle>Rio de Janeiro, RJ</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/grumari.webp" alt="Praia de Grumari" />
      <ion-card-header>
        <ion-card-title>Praia de Grumari</ion-card-title>
        <ion-card-subtitle>Grumari, RJ</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card button="">
      <img src="assets/praia_de_ipanema.avif" alt="Praia de Ipanema" />
      <ion-card-header>
        <ion-card-title>Praia de Ipanema</ion-card-title>
        <ion-card-subtitle>Rio de Janeiro, RJ</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </div>

</ion-content>
