
h1{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-text{
  color:#3cd5f0;  
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button-home {
  margin-top: 10px;
  margin-bottom: 15px;
}
